<div class="container">
  <div class="dropdown-container"
       [class.active]="dropdownOpened"
       (click)="selector.focus(); openDropDown()">
    <input [value]="_selectedOption?.itemName" #selector (focusout)="closeDropDown()" readonly [placeholder]="placeholder" type="text" >
    <span class="suffix"></span>
  </div>


  <div *ngIf="dropdownOpened && items" class="dropdown-items">
    <div
      *ngFor="let item of items; trackBy: trackByFn"
      (mousedown)="selectItem(item)"
      [class.selected]="_selectedOption?.id === item.id"
    >{{item.itemName}}</div>
  </div>
</div>
